@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container{
    margin: 15px;
    position: relative;
}
.main-container-box{
    width: 100%;
    height: 800px;
    background: -webkit-linear-gradient(0deg, #E7EAEE 0%, #ffffff 100%);
    background: linear-gradient(0deg, #ffffff 0%, #E7EAEE 100%);
    box-shadow: 2.5px 2.5px 5px -1px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 20px 20px;
}
.logo-container{
    width: 100%;
    height: 84px;
    background-color: #415570;
    border-radius: 20px 20px 0 0;
    position: relative;
}
.logo-container img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 66px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
}
.main-container-content{
    padding-top: 30px;
    width: 294px;
    margin: auto;
    position: relative;
}
.booktrack-logo img{
    width: 300px;

}
.booktrack-start{
    margin-top: -20px;
    text-align: center;
}
.booktrack-start h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    
}
.booktrack-start p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.main-container-input{
    margin-top: 50px;
}
.main-container-input input{
    width: 100%;
    height: 47px;
    border-radius: 14px;
    background-color: #F8F8F8;
    border: 1px solid rgba(130, 130, 130, 0.25);
    outline: none;
    padding: 0 20px;
    margin: 20px 0;
}
.main-container-input input[type='text']{
    font-family: 'Poppins', sans-serif;
    color: rgba(95, 95, 95, 0.5);
}
.main-container-input button{
    width: 100%;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: #374F6D;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.main-container-input a{
    color: white;
    text-decoration: none;
}
.error-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
}
.error-box{
    background-color: white;
    width: 230px;
    padding: 20px 30px;
}
.error-box h1{
    font-family: 'Poppins', sans-serif;
    color: #6B1F0F;
    font-weight: 600;
    font-size: 25px;
}
.error-box p{
    font-family: 'Poppins', sans-serif;
    color: #6B1F0F;
    font-weight: 600;
}
.error-btn{
    margin-top: 20px;
}
.error-btn button{
    width: 100%;
    height: 30px;
    border: none;
    background-color: #6B1F0F;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    box-shadow: 2.5px 2.5px 5px -1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}